#about_us
{
	text-align:center;
	background-color:;
}
#about_us h1
{
text-decoration:blink;
text-shadow:4px 10px 10px blue;
color:#FF7519;
font-family:urw gothic l;
font-size:50px;
font-style:italic;
}